/**
 * morebitsglobal.css
 * ===========
 * Styles to support morebitsglobal.js.
 *
 * The morebitsglobal library is maintained by the maintainers of Twinkle.
 * For queries, suggestions, help, etc., head to [[WT:TW]].
 * The latest development source is available at [https://github.com/wikimedia-gadgets/twinkle/blob/master/morebitsglobal.css].
 */

/* Define CSS variables */
html {
	--morebitsglobal-color-status-status: #4682B4;
	--morebitsglobal-color-legend: #31628F;
	--morebitsglobal-color-tooltip: #0000cd;
	--morebitsglobal-color-info: #228B22;
	--morebitsglobal-color-warning: #FF4500;
	--morebitsglobal-color-titlebar-links: #3062AD;
	--morebitsglobal-bgcolor-dialog: #F0F8FF;
	--morebitsglobal-bgcolor-titlebar: #BCCADF;
}

@media screen {
	html.skin-theme-clientpref-night {
		--morebitsglobal-color-status-status: #A6C4DE;
		--morebitsglobal-color-legend: #6B9DCC;
		--morebitsglobal-color-tooltip: #7A7AFF;
		--morebitsglobal-color-info: #6BDB6B;
		--morebitsglobal-color-warning: #FF6D38;
		--morebitsglobal-color-titlebar-links: #8BADDF;
		--morebitsglobal-bgcolor-dialog: #141c26;
		--morebitsglobal-bgcolor-titlebar: #1c2a52;
	}
}

@media screen and (prefers-color-scheme: dark) {
	html.skin-theme-clientpref-os {
		--morebitsglobal-color-status-status: #A6C4DE;
		--morebitsglobal-color-legend: #6B9DCC;
		--morebitsglobal-color-tooltip: #7A7AFF;
		--morebitsglobal-color-info: #6BDB6B;
		--morebitsglobal-color-warning: #FF6D38;
		--morebitsglobal-color-titlebar-links: #8BADDF;
		--morebitsglobal-bgcolor-dialog: #141c26;
		--morebitsglobal-bgcolor-titlebar: #1c2a52;
	}
}

/* Morebits.Status */

.morebitsglobal_status_status {
	color: var(--morebitsglobal-color-status-status, #4682B4);
}

.morebitsglobal_status_info {
	color: var(--morebitsglobal-color-info, #228B22);
}

.morebitsglobal_status_warn {
	color: var(--morebitsglobal-color-warning, #FF4500);
}

.morebitsglobal_status_error {
	color: var(--morebitsglobal-color-warning, #FF4500);
	font-weight: bold;
}

/* Morebits.QuickForm */

form.mgquickform
{
	width: 96%;
	vertical-align: middle;
	margin: auto;
	padding: .5em;
	color: var(--color-base, #202122);
}

form.mgquickform *
{
	font-family: sans-serif;
}

form.mgquickform fieldset
{
	margin: .4em 0 1em;
}

form.mgquickform legend
{
	color: var(--morebitsglobal-color-legend, #31628F);
	font-weight: bold;
}

form.mgquickform input[type=text], form.mgquickform select
{
	min-width: 15em;
	font-size: 110%;
}

form.mgquickform select
{
	border: 1px solid gray;
	margin-left: .2em;
}

form.mgquickform input[type=checkbox],
form.mgquickform input[type=radio] {
	height: 13px;
	margin-top: 2px;
	margin-right: 2px;
	margin-bottom: 2px;
	padding: 0;
	width: 13px;
	vertical-align: top;
}

form.mgquickform div {
	line-height: 18px;
}

form.mgquickform h5
{
	margin: .5em 0 0;
	padding: .3em .2em .2em;
	font-size: 108%; /* 100% is 12px => 108% is 12.96px */
}

/* only give the top border to headers with something above them */
form.mgquickform div + h5, form.mgquickform div + div > h5, form.mgquickform h5 + h5
{
	border-top: 1px solid #88A;
}

form.mgquickform textarea
{
	width: 100%;
	height: 4em;
	font-size: 150%;
}

form.mgquickform input:disabled + label
{
	color: var(--color-disabled, #72777d);
}

form.mgquickform span.mgquickformDescription
{
	font-style: italic;
}

form.mgquickform span.mgquickformDescription code
{
	font-style: normal;
	font-family: monospace;
}

form.mgquickform .mgquickformSubgroup
{
	margin-bottom: .5em;
	margin-left: 3em;
}

/* The tooltip button and the content itself */
form.mgquickform .morebitsglobal-tooltipButton
{
	color: var(--morebitsglobal-color-tooltip, mediumblue);
	font-weight: bold;
	cursor: help;
	padding: .3em;
}
.morebitsglobal-ui-tooltip
{
	padding: 4px 6px 4px 6px;
	font-size: 13px;
}


/* Scrollbox styles, for use within Morebits.SimpleWindow */

div.morebitsglobal-scrollbox
{
	background: var(--background-color-base, #fff);
	color: inherit;
	border: 1px solid gray;
	margin-bottom: .6em;
	margin-top: .6em;
	max-height: 20em;
	overflow: auto;
	padding: 6px 6px 0;
}

div.morebitsglobal-scrollbox > h5:first-child
{
	border: none;
	margin-top: 0;
	padding-top: 0;
}

div.morebitsglobal-scrollbox > :last-child
{
	margin-bottom: 6px;
}


/* Previewbox */

div.morebitsglobal-previewbox
{
	background: inherit;
	color: inherit;
	border: 2px inset;
	margin: .4em auto .2em;
	padding: .2em .4em;
}

div.morebitsglobal-previewbox *:not(img)
{
	vertical-align: baseline;
}

div.morebitsglobal-previewbox .mw-editsection
{
	display: none;
}

div.morebitsglobal-usertext {
	border: 1px solid #a2a9b1;
	background-color: var(--background-color-neutral-subtle, #f8f9fa);
	color: inherit;
	padding: 5px;
	font-size: 95%;
}


/* Morebits.SimpleWindow */

.morebitsglobal-dialog {
	border: 1px #666 solid;
	font-family: sans-serif;
	background-color: var(--morebitsglobal-bgcolor-dialog, #F0F8FF);
	color: inherit;
	background-image: none;
}

/* px translations in comments are w.r.t standard browser settings,
   in other settings, the sizes would be scaled accordingly */
.skin-vector .morebitsglobal-dialog {
	font-size: 75%; /* 100% is 16px => 75% is 12px */
}
.skin-timeless .morebitsglobal-dialog {
	font-size: 79%; /* 100% is 15.2px => 79% is 12.008px */
}
.skin-monobook .morebitsglobal-dialog,
.skin-modern .morebitsglobal-dialog {
	font-size: 120%; /* 100% is 10px => 120% is 12px */
}

body .ui-dialog.morebitsglobal-dialog .ui-dialog-titlebar {
	height: 1em;
	background-color: var(--morebitsglobal-bgcolor-titlebar, #BCCADF) !important;
	color: inherit;
	background-image: none !important;
	font: bold 108% sans-serif; /* 100% is 12px (from above) => 108% is 12.96px */
	overflow: hidden;
	padding: .4em .3em .5em !important;
	white-space: nowrap;
}

.morebitsglobal-dialog-scriptname {
	font-weight: normal;
}

.ui-dialog.morebitsglobal-dialog .ui-dialog-titlebar-close {
	height: 100%;
	right: 0;
	top: auto;
	width: 2em;
	margin: -.5em -.15em 0;
}

.ui-dialog.morebitsglobal-dialog .ui-dialog-titlebar-close span {
	margin: .33em;
}

.ui-dialog.morebitsglobal-dialog .morebitsglobal-dialog-content {
	padding: 0;
}

body .ui-dialog.morebitsglobal-dialog .ui-dialog-buttonpane {
	background-color: var(--morebitsglobal-bgcolor-titlebar, #BCCADF);
	color: inherit;
	margin: 0;
	min-height: .5em;
	padding-left: 1.2em !important;
}

body .ui-dialog.morebitsglobal-dialog .ui-dialog-buttonpane button {
	float: none;
	margin: .2em 0 -.1em;
	cursor: auto;
}

.morebitsglobal-dialog-buttons {
	font-size: 108%; /* 100% is 12px => 108% is 12.96px */
}

.morebitsglobal-dialog-footerlinks {
	font-size: 97%; /* 100% is 12px (from above) => 97% is 11.64px */
	float: right;
	margin: .7em .4em 0 0;
}

body .ui-dialog.morebitsglobal-dialog .morebitsglobal-dialog-footerlinks a {
	color: var(--morebitsglobal-color-titlebar-links, #3062AD);
}

.morebitsglobal-dialog-buttons[data-empty] + .morebitsglobal-dialog-footerlinks {
	margin: .1em .4em -.2em 0;
}

.ui-icon {
	vertical-align: -3px;
}

.ui-icon-inline {
	display: inline-block;
}

.morebitsglobal-ui-tooltip {
	background: var(--background-color-neutral-subtle, #f8f9fa);
	color: inherit;
	border-color: var(--border-color-base, #a2ab91);
	box-shadow: 0 0 5px #a2ab91;
}

/* For styling message/warning boxes. Cannot use MediaWiki ombox class because it will be deprecated soon. */
table.morebitsglobal-ombox {
    margin: 4px 10%;
    border-collapse: collapse;
    border: 1px solid #a2a9b1;
    background: var(--background-color-neutral-subtle, #f8f9fa);
    color: inherit;
    box-sizing: border-box;
}
table.morebitsglobal-ombox-content {
    border: 1px solid #f28500;
}
td.morebitsglobal-mbox-image {
    border: none;
    padding: 2px 0 2px 0.9em;
    text-align: center;
}
th.morebitsglobal-mbox-text, td.morebitsglobal-mbox-text {
    border: none;
    padding: 0.25em 0.9em;
    width: 100%;
}

/* Override select2 silliness */
.select2-morebitsglobal,
.select2-morebitsglobal .select2-results,
.select2-morebitsglobal .select2-results__option[aria-selected=true],
.select2-morebitsglobal .select2-selection__rendered,
.select2-morebitsglobal .select2-selection--multiple,
.select2-morebitsglobal .select2-selection__choice {
    background: var(--background-color-base, #fff) !important;
    color: inherit !important;
}
