/**
 * Explicitly set width of TW menu so that we can use a hidden peer gadget
 * to add space where the TW menu would go before it loads.
 */
.skin-vector .vector-menu-dropdown #p-twinkle {
	width: 3.24em;
}

/* twinklefluff.js */
.tw-rollback-link-wrapper {
	color: black;
}

.tw-rollback-link-revert-to-text {
	color: saddlebrown;
}

.tw-rollback-link-normal-text {
	color: steelblue;
}
